@set code {
  :root {
    width: *;
    height: *;
    background: lime;
    flow: vertical;
  }

  label {
    width: *;
    height: *;
    flow: vertical;
    padding: 0.125em;
    background-color: white;
    color: black;
  }

  plaintext {
    height: *;
    font-family: Monospace;
    font-weight: bold;
    background: #222222 !important;
    color: #d1d1d1;
    font-size: 10pt;
    padding: 1em;
    border-spacing: 0.25em;
    overflow: auto;
  }

  plaintext text {
    font-family: Monospace;
    font-weight: bold;
    background: #222222;
    color: #d1d1d1;
    font-size: 10pt;
  }
}
